*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* palette */
  --nav-white: #FFFFFF;
  --main-white: #dddddd;
  --shade-white: #d3d3d3;
  --main-black: #181818;
  --main-yellow: #CBB26A;
  --dark-yellow: #f4cb38;
  --lite-yellow: #FEF7E0;
  --lite-gris: #F8F9FA;

  /* Fonts */
  --base-font: Open sans, sans-serif;
  --title-font: Merriweather, serif;
  --title-main-font: Dancing Script, cursive;

  /* Font-size */
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-36: 2.25rem;
  --fs-42: 2.625rem;
  --fs-50: 3.125rem;
  --fs-72: 4.5rem;

}

/* Global Utility title */
.section-title {
    font-family:  var(--title-main-font);
    font-size: var(--fs-36);
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    color: var(--main-yellow);
    margin-bottom: 20px;
}

.heading-h3 {
    font-size: var(--fs-24);
    display: flex;
    align-items: center;
    color: var(--main-yellow)
}

.container {
    max-width: 1300px;
    margin:0 auto;
}

@media (max-width: 1024px) {
    .section-title {
        font-size: 30px;
    }
    .heading-h3 {
        font-size: var(--fs-18px);
    }
    .container {
        max-width: 700px;
    }
}

@media (max-width: 750px) {
    .section-title {
        font-size: 24px;
    }
    .heading-h3 {
        font-size: var(--fs-16px);
    }
}

@media (max-width: 550px) {
    .section-title {
        font-size: 20px;
    }
    .heading-h3 {
        font-size: var(--fs-14px);
    }
}
 
body {
  font-family: var(--base-font);
}

/* Navigation */

.main-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  padding: 16px;
  background-color: var(--main-yellow);
}

.logo {
    display: none;
    align-items: center;
    justify-content: center;
    
}

.logo_img {
    display: none;
    width: 30px;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.main-nav a {
  margin: 0 12px;
  padding: 8px;
  border-radius: 2px;
  color: var(--nav-white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
  font-weight: 700;
}

.main-nav a:hover {
  background-color: var(--nav-white);
  color: var(--main-yellow);
}
.nav-toggler {
  display: none;
}

.main-nav .logo {
    display: flex;
    width: 50px;
}

 .logo-wrapper {
    display: flex;
    align-items: center;
    width: 50px;
  }

@media (max-width: 1024px) {
    .main-nav a {
      font-size: var(--fs-14);
      padding: 6px;
    }
  }
  
  @media (max-width: 525px) {
    .main-nav {
      display: flex;
      order: 1;
    }
    .main-nav ul {
      padding: 52px 0 20px;
      display: none;
      flex-direction: column;
    }
    .main-nav ul li {
      margin: 6px 0;
    }
    .main-nav.active ul {
      display: flex;
    }
    .nav-toggler {
      order: 2;
      display: flex;
      background-color: var(--nav-white);
      justify-content: center;
      align-items: center;
      align-self: baseline;
      margin-left: auto;
      background: none;
      border: none;
      cursor: pointer;
    }
    .nav-toggler img {
      width: 20px;
    }
}

.hero {
    min-height: 400px;
    height: 500px;
    padding-top: 200px;
    background-image: url(ressources/student.jpg);
    background-size: cover;
    background-position: 30% 40%;
    position: relative;
    text-align: center;
  }

  .hero img {
    object-fit: cover;
  }

.main-title {
    font-family: var(--title-main-font);
    font-size: var(--fs-50);
    color: var(--main-black);
    margin-top:20px;
    margin-bottom: 30px;
    font-weight: 900;
  }

 .main-subtitle{
    font-family: var(--base-font);
    font-size: var(--fs-30);
    color: var(--main-black);
    font-weight: 500;
  }

  .push-down-hero {
    display: none;
  }

  @media(max-width: 1024px){
    .main-title {
        font-size: var(--fs-36);
    }

    .main-subtitle {
        font-size: var(--fs-24);
    }

    .push-down-hero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--shade-white);
        border: 1px solid var(--main-white); 
        position: absolute;
        bottom: 30px;
        left: 50%; /* le mettre au milieu */
        transform: translateX(-50%) 
    }

    .push-down-hero img {
        width: 20px;
        pointer-events: none;
        
    }

    @media (max-width: 525px) {
        .hero {
            padding-top: 125px;
            min-height: 300px;
        }

        .main-title {
            font-size: var(--fs-30);
        }

        .main-subtitle {
            font-size: var(--fs-20);
        }
    }

  }

  /* About */ 
  .about {
    padding: 60px 20px 125px;
    background-color: var(--lite-gris);
  }

  .about-content {
    display: flex;
  }

  .about-text {
    width: 60%;
    margin-right: 96px;
  }

  .about-text .heading-h3 {
    margin-bottom: 15px;
  }

  .about-text -p {
    line-height: 1.4;
  }

  .about-text p:nth-child(2) {
    margin-bottom: 44px;
  }

  .about-slideshow {
    width: 40%;
  }

  .slidesshow-image-container {
    margin: 12px 0;
    display: grid;
  }

  .about-slideshow img {
    grid-area: 1/1/2/2;
    width: 100px;
    border-radius: 3px;
    visibility: hidden;
    transition: 
    opacity 0.3s ease-out,
    visibility 0.3s ease-out;
  }

  .about-slideshow img.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--main-black);
    background-color: var(--nav-white);
  }

  .dot-active {
    background-color: var(--main-black);
  }

  @media (max-width: 1024px) {
    .about {
      padding: 50px 20px 100px;
    }
    .about-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .about-text {
      width:100%;
      margin-right: 0;
    }
    .about-slideshow {
      width: 80%;
    }
    .slideshow-images-container {
      margin: 72px auto 12px;
    }
  }
  @media (max-width: 750px) {
    .about-text p{
      font-size: var(--fs-14);
    }
  }
  @media (max-width: 525px) {
    .about {
      padding: 40px 14px 100px;
    }
    .about-slideshow {
      width: 100%;
    }
  }

